<a href="https://colab.research.google.com/github/uri-rizo2/Expanding-RENES/blob/main/Expanding_RENES_Data_Collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Expanding RENES: Data Collection**









> **Uriel Amezcua** ||
  **CSCI 198** || **Spring 23**

# Importing python libraries

- Pandas for data mmanipulation 
- math for 
- numpy for 
- Pysolar for 
- datetime for

In [ ]:
# Install the 'pysolar' package
!pip install pysolar

# Import the required libraries
import pandas as pd  # Pandas for data manipulation
import math  # Math module for mathematical functions
import numpy as np  # NumPy for numerical operations

import pysolar  # Pysolar for solar position calculations
import datetime  # Datetime for working with dates and times

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pysolar in /usr/local/lib/python3.10/dist-packages (0.10)


#**Gathering Cloud Data** (OpenMateo.org)

## 1. Define the URLs for the cloud coverage data CSV files for each location.

## 2. Each location's cloud coverage data is read from the CSV file and stored in a pandas DataFrame. For each location, a separate DataFrame is created to store the organized cloud data table.

## 3. The cloud data tables for each location undergo similar operations to clean and format the data:
   - The first two rows are dropped as they might contain headers or irrelevant information.
   - Only the first two columns (date and cloud coverage) are selected.
   - The column names are renamed as 'Date' and 'cloud coverage'.
   - The 'Date' column is split into separate columns for year, month, day, hour (PST), and minute.
   - The minute column is dropped.
   - The hour (PST) values are converted to military time by multiplying by 100.
   - The separate date and time columns are combined.
   - The 'Date' column is dropped, and the 'Hour (PST)' column is converted to integer type.
   - Leading zeros in day and month values are removed to match other data tables for merging.

In [ ]:
#reading cloud coverage data from CSV files in Github
cloudF = 'https://raw.githubusercontent.com/uri-rizo2/Expanding-RENES/main/Data/fresno-cloud.csv'
cloudMrc = 'https://raw.githubusercontent.com/uri-rizo2/Expanding-RENES/main/Data/Merced-cloud.csv'
cloudO ='https://raw.githubusercontent.com/uri-rizo2/Expanding-RENES/main/Data/oakdale-cloud.csv'
cloudC ='https://raw.githubusercontent.com/uri-rizo2/Expanding-RENES/main/Data/coalinga-cloud.csv'
cloudMnt ='https://raw.githubusercontent.com/uri-rizo2/Expanding-RENES/main/Data/manteca-cloud.csv'

##########################################################################################################################
# orgainizing cloud data table for Fresno to be merged 
#passing data into vairables 
cloudFData = pd.read_csv(cloudF)
#storing cloud data in table
tableCldF = pd.DataFrame(cloudFData)

# Drop the first two rows
tableCldF = tableCldF.drop(index=[0,1])
# drop all columns except the first three
tableCldF = tableCldF.iloc[:, :2]
tableCldF = tableCldF.iloc[:, :2] # Select the first three columns
tableCldF.columns = ['Date', 'cloud coverage'] # Rename the columns
# Split the date-time column into separate columns
date_cols_F = tableCldF['Date'].str.split('[-T:]', expand=True)
date_cols_F.columns = ['year', 'month', 'day', 'Hour (PST)', 'minute']
# Drop the minute column
date_cols_F = date_cols_F.drop(columns=['minute'])
# Convert hour to military time
date_cols_F['Hour (PST)'] = date_cols_F['Hour (PST)'].astype(int) * 100
# Combine the date and time columns
tableCldF[['year', 'month', 'day', 'Hour (PST)']] = date_cols_F[['year', 'month', 'day', 'Hour (PST)']]
tableCldF = tableCldF.drop(['Date'], axis=1)
tableCldF['Hour (PST)'] = tableCldF['Hour (PST)'].astype(int)
#drop 0 in front of date values to match other data table for inner joining 
tableCldF['day'] = tableCldF['day'].str.lstrip('0')
tableCldF['month'] = tableCldF['month'].str.lstrip('0')

#display cloud coverage table 
#display(tableCldF)
#############################################################################################################################
# orgainizing cloud data table for Merced to be merged 
cloudMrcData = pd.read_csv(cloudMrc)
tableCldMrc = pd.DataFrame(cloudMrcData)

# Drop the first two rows
tableCldMrc = tableCldMrc.drop(index=[0,1])
# drop all columns except the first three
tableCldMrc = tableCldMrc.iloc[:, :2]
tableCldMrc = tableCldMrc.iloc[:, :2] # Select the first three columns
tableCldMrc.columns = ['Date', 'cloud coverage'] # Rename the columns
# Split the date-time column into separate columns
date_cols_Mrc = tableCldMrc['Date'].str.split('[-T:]', expand=True)
date_cols_Mrc.columns = ['year', 'month', 'day', 'Hour (PST)', 'minute']
# Drop the minute column
date_cols_Mrc = date_cols_Mrc.drop(columns=['minute'])
# Convert hour to military time
date_cols_Mrc['Hour (PST)'] = date_cols_Mrc['Hour (PST)'].astype(int) * 100
# Combine the date and time columns
tableCldMrc[['year', 'month', 'day', 'Hour (PST)']] = date_cols_Mrc[['year', 'month', 'day', 'Hour (PST)']]
tableCldMrc = tableCldMrc.drop(['Date'], axis=1)
tableCldMrc['Hour (PST)'] = tableCldMrc['Hour (PST)'].astype(int)
#drop 0 in front of date values to match other data table for inner joining 
tableCldMrc['day'] = tableCldMrc['day'].str.lstrip('0')
tableCldMrc['month'] = tableCldMrc['month'].str.lstrip('0')

#display cloud coverage table 
#display(tableCldMrc)
#############################################################################################################################
# orgainizing cloud data table for oakdale to be merged 
cloudOData  = pd.read_csv(cloudO)
tableCldO = pd.DataFrame(cloudOData)

# Drop the first two rows
tableCldO = tableCldO.drop(index=[0,1])
# drop all columns except the first three
tableCldO = tableCldO.iloc[:, :2]
tableCldO = tableCldO.iloc[:, :2] # Select the first three columns
tableCldO.columns = ['Date', 'cloud coverage'] # Rename the columns
# Split the date-time column into separate columns
date_cols_O = tableCldO['Date'].str.split('[-T:]', expand=True)
date_cols_O.columns = ['year', 'month', 'day', 'Hour (PST)', 'minute']
# Drop the minute column
date_cols_O = date_cols_O.drop(columns=['minute'])
# Convert hour to military time
date_cols_O['Hour (PST)'] = date_cols_O['Hour (PST)'].astype(int) * 100
# Combine the date and time columns
tableCldO[['year', 'month', 'day', 'Hour (PST)']] = date_cols_O[['year', 'month', 'day', 'Hour (PST)']]
tableCldO = tableCldO.drop(['Date'], axis=1)
tableCldO['Hour (PST)'] = tableCldO['Hour (PST)'].astype(int)
#drop 0 in front of date values to match other data table for inner joining 
tableCldO['day'] = tableCldO['day'].str.lstrip('0')
tableCldO['month'] = tableCldO['month'].str.lstrip('0')

#display cloud coverage table 
#display(tableCldO)
#############################################################################################################################
# orgainizing cloud data table for Coalinga to be merged 
cloudCData = pd.read_csv(cloudC)
tableCldC = pd.DataFrame(cloudCData)

# Drop the first two rows
tableCldC = tableCldC.drop(index=[0,1])
# drop all columns except the first three
tableCldC = tableCldC.iloc[:, :2]
tableCldC = tableCldC.iloc[:, :2] # Select the first three columns
tableCldC.columns = ['Date', 'cloud coverage'] # Rename the columns
# Split the date-time column into separate columns
date_cols_C = tableCldC['Date'].str.split('[-T:]', expand=True)
date_cols_C.columns = ['year', 'month', 'day', 'Hour (PST)', 'minute']
# Drop the minute column
date_cols_C = date_cols_C.drop(columns=['minute'])
# Convert hour to military time
date_cols_C['Hour (PST)'] = date_cols_C['Hour (PST)'].astype(int) * 100
# Combine the date and time columns
tableCldC[['year', 'month', 'day', 'Hour (PST)']] = date_cols_C[['year', 'month', 'day', 'Hour (PST)']]
tableCldC = tableCldC.drop(['Date'], axis=1)
tableCldC['Hour (PST)'] = tableCldC['Hour (PST)'].astype(int)
#drop 0 in front of date values to match other data table for inner joining 
tableCldC['day'] = tableCldC['day'].str.lstrip('0')
tableCldC['month'] = tableCldC['month'].str.lstrip('0')

#display cloud coverage table 
#display(tableCldC)
###################################################################################################################33###
# orgainizing cloud data table for Manteca to be merged 
cloudMntData = pd.read_csv(cloudMnt)
tableCldMnt = pd.DataFrame(cloudMntData)

# Drop the first two rows
tableCldMnt = tableCldMnt.drop(index=[0,1])
# drop all columns except the first three
tableCldMnt = tableCldMnt.iloc[:, :2]
tableCldMnt = tableCldMnt.iloc[:, :2] # Select the first three columns
tableCldMnt.columns = ['Date', 'cloud coverage'] # Rename the columns
# Split the date-time column into separate columns
date_cols_Mnt = tableCldMnt['Date'].str.split('[-T:]', expand=True)
date_cols_Mnt.columns = ['year', 'month', 'day', 'Hour (PST)', 'minute']
# Drop the minute column
date_cols_Mnt = date_cols_Mnt.drop(columns=['minute'])
# Convert hour to military time
date_cols_Mnt['Hour (PST)'] = date_cols_Mnt['Hour (PST)'].astype(int) * 100
# Combine the date and time columns
tableCldMnt[['year', 'month', 'day', 'Hour (PST)']] = date_cols_Mnt[['year', 'month', 'day', 'Hour (PST)']]
tableCldMnt = tableCldMnt.drop(['Date'], axis=1)
tableCldMnt['Hour (PST)'] = tableCldMnt['Hour (PST)'].astype(int)
#drop 0 in front of date values to match other data table for inner joining 
tableCldMnt['day'] = tableCldMnt['day'].str.lstrip('0')
tableCldMnt['month'] = tableCldMnt['month'].str.lstrip('0')

#display cloud coverage table 
#display(tableCldMnt)

# **Merging cloud data with Weather station data**  


1. This code retrieves hourly weather data for five geographical locations: **Fresno**,**Merced**, **Oakdale**, **Coalinga**, and **Manteca**.
2. Each location's data is obtained from a separate CSV file hosted on GitHub.
3. The code reads the data into pandas DataFrames for each location.
4. The data organization process begins with the Fresno location:
   - The data is structured into a new DataFrame called "tableFresno."
   - Additional columns for latitude, longitude, and altitude are added to the table.
   - The date column is split into separate columns for month, day, and year.
   - Unnecessary columns and rows are dropped.
   - Cloud coverage data is merged into the table.
5. Similar steps are followed for the other locations (Merced, Oakdale, Coalinga, and Manteca), resulting in separate organized data tables for each location.
6. These tables are then merged into a complete table that includes data from all locations.
7. Any rows with missing values are dropped from the complete table.
8. The complete table is shuffled to ensure randomness in the data.
9. Object-type columns (day, month, year, hour) are converted to the appropriate data types.
10. Missing columns ("*Ghorb0*" and "*Ghord0*") are inserted into the table.
11. Empty spaces in the table are replaced with NaN values.
12. Finally, the complete table is displayed.

In [ ]:

# read data from csv for Fresno Merced Oakdale Coalinga Manteca geographical locations 
urlFresno  = 'https://raw.githubusercontent.com/uri-rizo2/CIMISweather-seniorProject/main/fresnostate-hourly.csv'
urlMerced  = 'https://raw.githubusercontent.com/uri-rizo2/CIMISweather-seniorProject/main/merced-hourly.csv'
urlOakdale  = 'https://raw.githubusercontent.com/uri-rizo2/CIMISweather-seniorProject/main/oakdale-%20hourly.csv'
urlCoalinga = 'https://raw.githubusercontent.com/uri-rizo2/CIMISweather-seniorProject/main/coalinga-hourly.csv'
urlManteca  = 'https://raw.githubusercontent.com/uri-rizo2/CIMISweather-seniorProject/main/manteca-hourly.csv'

dataFresno = pd.read_csv(urlFresno)
dataMerced = pd.read_csv(urlMerced)
dataOakdale = pd.read_csv(urlOakdale)
dataCoalinga = pd.read_csv(urlCoalinga)
dataManteca = pd.read_csv(urlManteca)

########################################################################################################################################################################
#Organize data for fresno location 
tableFresno = pd.DataFrame(dataFresno)
tableFresno['Location']='Fresno'
tableFresno['Latitude']= 36.820833
tableFresno['Longitude']= -119.742310
tableFresno['Altitude']=  0.103327

#split date column into seperate columns 
tableFresno[['month', 'day', 'year']] = tableFresno['Date'].str.split('/', expand=True)
tableFresno = tableFresno.drop(['Date'], axis=1)

#drop unnecesary values 
tableFresno = tableFresno.drop(tableFresno.filter(regex='^qc').columns, axis=1)
tableFresno = tableFresno.drop(['Jul', 'Wind Speed (mph)', 'Wind Dir (0-360)', 'Soil Temp (F)', 'Dew Point (F)', 'ETo (in)', 'Precip (in)', 'Vap Pres (mBars)'], axis=1)
tableFresno['Hour (PST)'] = tableFresno['Hour (PST)'].astype(int)

#merge cloud coverage values to fresno table
Fresno_merged_table = pd.merge(tableFresno, tableCldF[['month', 'day', 'year', 'Hour (PST)', 'cloud coverage']], on=['month', 'day', 'year', 'Hour (PST)'], how='inner')
#display(Fresno_merged_table)
########################################################################################################################################################################
#Organize data for Merced Location

tableMerced = pd.DataFrame(dataMerced)
tableMerced['Location']='Merced'
tableMerced['Latitude']= 37.314139
tableMerced['Longitude']= -120.3867
tableMerced['Altitude']= 0.06096

#split date column into seperate columns 
tableMerced[['month', 'day', 'year']] = tableMerced['Date'].str.split('/', expand=True)
tableMerced = tableMerced.drop(['Date'], axis=1)

tableMerced = tableMerced.drop(tableMerced.filter(regex='^qc').columns, axis=1)
tableMerced = tableMerced.drop(['Jul', 'Wind Speed (mph)', 'Wind Dir (0-360)', 'Soil Temp (F)', 'Dew Point (F)', 'ETo (in)', 'Precip (in)', 'Vap Pres (mBars)'], axis=1)
tableMerced['Hour (PST)'] = tableMerced['Hour (PST)'].astype(int)
Merced_merged_table = pd.merge(tableMerced, tableCldMrc[['month', 'day', 'year', 'Hour (PST)', 'cloud coverage']], on=['month', 'day', 'year', 'Hour (PST)'], how='inner')
#display(Merced_merged_table)
#########################################################################################################################################################################
#Organize data for Oakdale Location
tableOakdale = pd.DataFrame(dataOakdale)
tableOakdale['Location']='Oakdale'
tableOakdale['Latitude']= 37.727194
tableOakdale['Longitude']= -120.850860
tableOakdale['Altitude']= 0.050292
#split date column into seperate columns 
tableOakdale[['month', 'day', 'year']] = tableOakdale['Date'].str.split('/', expand=True)
tableOakdale = tableOakdale.drop(['Date'], axis=1)

tableOakdale = tableOakdale.drop(tableOakdale.filter(regex='^qc').columns, axis=1)
tableOakdale = tableOakdale.drop(['Jul', 'Wind Speed (mph)', 'Wind Dir (0-360)', 'Soil Temp (F)', 'Dew Point (F)', 'ETo (in)', 'Precip (in)', 'Vap Pres (mBars)'], axis=1)
tableOakdale['Hour (PST)'] = tableOakdale['Hour (PST)'].astype(int)
#merge cloud data table
Oakdale_merged_table = pd.merge(tableOakdale, tableCldO[['month', 'day', 'year', 'Hour (PST)', 'cloud coverage']], on=['month', 'day', 'year', 'Hour (PST)'], how='inner')
#display(Oakdale_merged_table)
##########################################################################################################################################################################
#Organize data for Coalinga Location
tableCoalinga = pd.DataFrame(dataCoalinga)
tableCoalinga['Location']='Coalinga'
tableCoalinga['Latitude']= 36.175833
tableCoalinga['Longitude']= -120.360270
tableCoalinga['Altitude']= 0.222504

#split date column into seperate columns 
tableCoalinga[['month', 'day', 'year']] = tableCoalinga['Date'].str.split('/', expand=True)
tableCoalinga = tableCoalinga.drop(['Date'], axis=1)

tableCoalinga = tableCoalinga.drop(tableCoalinga.filter(regex='^qc').columns, axis=1)
tableCoalinga = tableCoalinga.drop(['Jul', 'Wind Speed (mph)', 'Wind Dir (0-360)', 'Soil Temp (F)', 'Dew Point (F)', 'ETo (in)', 'Precip (in)', 'Vap Pres (mBars)'], axis=1)
tableCoalinga['Hour (PST)'] = tableCoalinga['Hour (PST)'].astype(int)
Coalinga_merged_table = pd.merge(tableCoalinga, tableCldC[['month', 'day', 'year', 'Hour (PST)', 'cloud coverage']], on=['month', 'day', 'year', 'Hour (PST)'], how='inner')
#display(Coalinga_merged_table)
###########################################################################################################################################################################
#Organize data for Manteca Location
tableManteca = pd.DataFrame(dataManteca)
tableManteca['Location']='Manteca'
tableManteca['Latitude']= 37.834822
tableManteca['Longitude']= -121.223190
tableManteca['Altitude']= 0.0100584
#split date column into seperate columns 
tableManteca[['month', 'day', 'year']] = tableManteca['Date'].str.split('/', expand=True)
tableManteca = tableManteca.drop(['Date'], axis=1)

tableManteca = tableManteca.drop(tableManteca.filter(regex='^qc').columns, axis=1)
tableManteca = tableManteca.drop(['Jul', 'Wind Speed (mph)', 'Wind Dir (0-360)', 'Soil Temp (F)', 'Dew Point (F)', 'ETo (in)', 'Precip (in)', 'Vap Pres (mBars)'], axis=1)
tableManteca['Hour (PST)'] = tableManteca['Hour (PST)'].astype(int)


Manteca_merged_table = pd.merge(tableManteca, tableCldMnt[['month', 'day', 'year', 'Hour (PST)', 'cloud coverage']], on=['month', 'day', 'year', 'Hour (PST)'], how='inner')
#display(Manteca_merged_table)
################################################################################################################################################################################ 


#merging tables and droping NaN values 
Complete_merged_table = pd.concat([Fresno_merged_table, Merced_merged_table, Oakdale_merged_table,Coalinga_merged_table, Manteca_merged_table])
Complete_merged_table.dropna(axis=0)
Complete_merged_table = Complete_merged_table.fillna('')
#display(Complete_merged_table)


#shuffle table data making it complete
complete_data = Complete_merged_table.sample(frac = 1)
#change day month year from object type into int type to be used in functions 
complete_data['day'] = complete_data['day'].astype(int)
complete_data['year'] = complete_data['year'].astype(int)
complete_data['month'] = complete_data['month'].astype(int)
#change hour from military time to regular ranginf from 0-23 for use in functions 
complete_data['Hour (PST)'] = complete_data['Hour (PST)'].astype(str)
complete_data['Hour (PST)'] = complete_data['Hour (PST)'].apply(lambda x: '{0:0>4}'.format(x))
complete_data['Hour (PST)'] = pd.to_datetime(complete_data['year'].astype(str) + '-' + complete_data['month'].astype(str) + '-' + complete_data['day'].astype(str) + ' ' + complete_data['Hour (PST)'].str[:2] + ':' + complete_data['Hour (PST)'].str[2:] + ':00', format='%Y-%m-%d %H:%M:%S', errors='coerce').dt.hour



#insert missing table columns 
complete_data.insert(0,"Ghorb0", " ")
complete_data.insert(1,"Ghord0", " ")

#replace empty space with nan 
complete_data.replace(' ', np.nan, inplace=True)

#ensure columns are of float type
complete_data['Ghorb0'] = complete_data['Ghorb0'].astype(float)
complete_data['Ghord0'] = complete_data['Ghord0'].astype(float)


display(complete_data)

,Ghorb0,Ghord0,Stn Id,Stn Name,CIMIS Region,Hour (PST),Sol Rad (Ly/day),Air Temp (F),Rel Hum (%),Location,Latitude,Longitude,Altitude,month,day,year,cloud coverage
11130,NaN,NaN,148,Merced,San Joaquin Valley,15,1046.00,76.60,28.00,Merced,37.31,-120.39,0.06,3,27,2022,5
4023,NaN,NaN,80,Fresno State,San Joaquin Valley,12,475.00,46.60,99.00,Fresno,36.82,-119.74,0.10,1,7,2021,95
4800,NaN,NaN,148,Merced,San Joaquin Valley,5,0.00,38.10,57.00,Merced,37.31,-120.39,0.06,2,25,2021,0
1444,NaN,NaN,205,Coalinga,San Joaquin Valley,9,1343.00,88.40,24.00,Coalinga,36.18,-120.36,0.22,7,30,2020,0
3107,NaN,NaN,70,Manteca,San Joaquin Valley,8,101.00,41.60,74.00,Manteca,37.83,-121.22,0.01,11,11,2020,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6547,NaN,NaN,194,Oakdale,San Joaquin Valley,8,929.00,72.90,82.00,Oakdale,37.73,-120.85,0.05,6,14,2021,36
7667,NaN,NaN,80,Fresno State,San Joaquin Valley,8,650.00,69.10,60.00,Fresno,36.82,-119.74,0.10,8,23,2021,0
6256,NaN,NaN,148,Merced,San Joaquin Valley,5,7.00,43.90,94.00,Merced,37.31,-120.39,0.06,5,27,2021,0
6327,NaN,NaN,194,Oakdale,San Joaquin Valley,12,1912.00,94.70,41.00,Oakdale,37.73,-120.85,0.05,5,31,2021,0
4817,NaN,NaN,80,Fresno State,San Joaquin Valley,6,0.00,36.70,94.00,Fresno,36.82,-119.74,0.10,2,26,2021,0

# **Function Definition**: *getAzimuth*, *getZenith*, and *getIncident*

1. This code imports the necessary function, `YearBegin`, from the `pandas.tseries.offsets` module.
2. Then defines three functions: `getAzi`, `getZen`, and `getIncident`.
3. The `getAzi` function retrieves the solar azimuth angle for a given row in the `complete_data` DataFrame.
   - It extracts the latitude, longitude, year, day, month, and hour values from the corresponding columns in `complete_data`.
   - Using these values, it creates a `datetime` object.
   - The function then calls the `get_azimuth` function from the `pysolar` library, passing the latitude, longitude, and date as arguments.
   - The azimuth angle is returned.
4. The `getZen` function calculates the solar zenith angle for a given row in the `complete_data` DataFrame.
   - It retrieves the latitude, longitude, year, day, month, and hour values from `complete_data`.
   - Using these values, it creates a `datetime` object.
   - The function then calls the `get_altitude` function from the `pysolar` library, passing the latitude, longitude, and date as arguments.
   - The altitude value is subtracted from 90 to calculate the zenith angle.
   - If the zenith angle is greater than 90 or less than 0, it is set to NaN.
   - Otherwise, the zenith angle is returned.
5. The `getIncident` function calculates the incident angle for a given row in the `complete_data` DataFrame.
   - It retrieves the latitude, longitude, year, day, month, and hour values from `complete_data`.
   - Using these values, it creates a `datetime` object.
   - The function calls the `getZen` function to get the zenith angle for the corresponding row.
   - The incident angle is calculated as 90 degrees minus the zenith angle.
   - The incident angle is returned.
6. The code includes commented lines that demonstrate how to use the functions and print their output.

In [ ]:
from pandas.tseries.offsets import YearBegin

#funciton that grabs hourly solar zenith and azimuth angle using data brought by pyysolar library 
  
def getAzi(curr_row):
    latitude = complete_data.iloc[curr_row]['Latitude']
    longitude = complete_data.iloc[curr_row]['Longitude']
    year = complete_data.iloc[curr_row]['year']
    day = complete_data.iloc[curr_row]['day']
    month = complete_data.iloc[curr_row]['month']
    hour = complete_data.iloc[curr_row]['Hour (PST)']
    sec = 0
    date = datetime.datetime(year, month, day, hour, sec, 0, 0, tzinfo=datetime.timezone.utc)
    #print(date)
    az = get_azimuth(latitude, longitude, date)
    return az



def getZen(curr_row):
    latitude = complete_data.iloc[curr_row]['Latitude']
    longitude = complete_data.iloc[curr_row]['Longitude']
    year = complete_data.iloc[curr_row]['year']
    day = complete_data.iloc[curr_row]['day']
    month = complete_data.iloc[curr_row]['month']
    hour = complete_data.iloc[curr_row]['Hour (PST)']
    sec = 0
    date = datetime.datetime(year, month, day, hour, sec, 0, 0, tzinfo=datetime.timezone.utc)
    ze = float(90) - (get_altitude(latitude,longitude,date))
    if ze > 90:
      ze = float("Nan")
    if ze < 0:
      ze = float("Nan")
    else:
      return ze

#print(math.radians((getZen(1))))
#print(getZen(54))
def getIncident(curr_row):
    latitude = complete_data.iloc[curr_row]['Latitude']
    #print(latitude)
    longitude = complete_data.iloc[curr_row]['Longitude']
    #print(longitude)
    year = complete_data.iloc[curr_row]['year']
    #print(year)
    day = complete_data.iloc[curr_row]['day']
    #print(day)
    month = complete_data.iloc[curr_row]['month']
    #print(month)
    hour = complete_data.iloc[curr_row]['Hour (PST)']
    #print(hour)
    sec = 0
    #print(sec)
    date = datetime.datetime(year, month, day, hour, sec, 0, 0, tzinfo=datetime.timezone.utc)
    #print(date)
    inc = 90 - (getZen(curr_row)) 
    return inc  
#print(getIncident(54))

# **Function Definition**: *get_tb* and *get_td*

1.In this cell we first define the correction factors defined in the report then define two functions: `get_tb` and `get_td`.
2. The `get_tb` function calculates the clear sky transmittance coefficient for the beam solar radiation for a given row in the `complete_data` DataFrame.
   - It retrieves the altitude value from the `complete_data` DataFrame.
   - The function defines three correction factors: `r0`, `r1`, and `rk`.
   - It calculates the value of `a0` using the altitude and the correction factors.
   - Similarly, it calculates the value of `a1` and `k`.
   - Finally, it calculates the value of `tb` using the formula: `tb = a0 + a1 * (np.exp(-k /math.cos(math.radians(getZen(curr_row)))))`, where `getZen(curr_row)` returns the zenith angle for the corresponding row.
   - The `tb` value is returned.
3. The `get_td` function calculates the clear sky transmittance coefficient for the diffuse solar radiation for a given row in the `complete_data` DataFrame.
   - It calls the `get_tb` function to retrieve the value of `tb` for the corresponding row.
   - The value of `td` is calculated using the formula: `td = 0.271 - (0.294 * get_tb(curr_row))`.
   - The `td` value is returned.
4. The code includes a commented line that demonstrates how to use the `get_tb` function and print its output.

In [ ]:
#function that gets clear sky transmittance coefficent for beam solar rad 

#correctioon factors for dfferent climate types
r0 = 1.03
r1 = 1.01
rk = 1.00

def get_tb(curr_row):
  A = complete_data.iloc[curr_row]['Altitude']
  #print(A)
  a0 = r0 * (0.4237 - (0.00821 * ((6 - A)**2)))
  #print(a0)
  a1 = r1 * (0.5055 + (0.00595 * ((6.5 - A)**2)))
  #print(a1)
  k  = rk * (0.2711 + (0.01858 * ((2.5 - A)**2)))
  #print(k)
  tb = a0 + a1 * (np.exp(-k /math.cos(math.radians(getZen(curr_row)))))
  return tb


#function that gets clear sky transmittance coefficent for diffused solar rad 
def get_td(curr_row):
  td = 0.271 - (0.294 * get_tb(curr_row))
  return td

#print (get_tb(54))

# **Function Definition:**  *get_gon, get_Bhor*, and *get_Dhor*
1. First import the necessary module `cos` from `tensorflow.python.ops.math_ops`.
2. Then define a variable `Gsc` with a value of 1360.8, representing the solar constant.
3. Followed by a function `get_gon` that calculates the extraterrestrial radiation for a given row in the `complete_data` DataFrame.
   - It retrieves the year, day, and month values from the `complete_data` DataFrame.
   - The day of the year is calculated using the `timetuple().tm_yday` method.
   - It calculates the value of `x` using the formula: `x = (360 * (day_of_year - 1)) / 365`.
   - The variable `DoD2` is calculated using a series of trigonometric functions applied to `x`.
   - The extraterrestrial radiation `Gon` is calculated as the product of `Gsc` and `DoD2`.
   - The `Gon` value is returned.
4. The code includes a commented line that demonstrates how to use the `get_gon` function and print its output.
5.  I then define a function `get_gBhor0` that calculates the beam radiation component on a horizontal surface for a given row in the `complete_data` DataFrame.
   - It assigns a value of 1.0 to the variable `tcb_temp`.
   - It retrieves the year, day, month, hour, and zenith angle values from the `complete_data` DataFrame.
   - The variable `angle` is calculated as the cosine of the incident angle obtained from the `getIncident` function.
   - The variable `gBhor0` is calculated as the product of `get_gon(curr_row)`, `get_tb(curr_row)`, `tcb_temp`, and `angle`.
   - The `gBhor0` value is returned.
6. The code includes a line that calls the `get_gBhor0` function and prints its output.
7.  lastly i define a function `get_gDhor0` that calculates the sky diffuse radiation on a horizontal surface for a given row in the `complete_data` DataFrame.
   - It assigns a value of 1 to the variable `tcd_temp` and 0 to the variable `beta`.
   - The variable `gDhor0` is calculated as the product of `get_gon(curr_row)`, `math.cos(math.radians(getZen(curr_row)))`, `get_td(curr_row)`, `tcd_temp`, and `(1 + math.cos(math.radians(beta))) / 2`.
   - The `gDhor0` value is returned.
8. The code includes a commented line that demonstrates how to use the `get_gDhor0` function and print its output.

In [ ]:
from tensorflow.python.ops.math_ops import cos
Gsc = 1360.8

#extraterrestrial radiation formula 
def get_gon(curr_row):
  year = complete_data.iloc[curr_row]['year']
  day = complete_data.iloc[curr_row]['day']
  month = complete_data.iloc[curr_row]['month']
  day_of_year = date(year,month,day).timetuple().tm_yday
  #print(day_of_year)  
  x = (360 *((day_of_year)-1))/365
  DoD2 = 1.00011 + 0.034221 *(math.radians(math.cos(x))) + 0.001280*(math.radians(math.sin(x))) + 0.000719 * (math.radians(math.cos(2*x))) + 0.000077 * (math.radians(math.sin(2*x)))
  Gon = Gsc * DoD2
  return Gon

#print(get_gon(54))
#Beam radiation compononent on a hor surface
def get_gBhor0(curr_row):
  tcb_temp= 1.0
  year = complete_data.iloc[curr_row]['year']
  day = complete_data.iloc[curr_row]['day']
  month = complete_data.iloc[curr_row]['month']
  hour = complete_data.iloc[curr_row]['Hour (PST)']
  sec = 0
  angle = math.cos(math.radians(getIncident(curr_row)))
  gBhor0 = (get_gon(curr_row) * get_tb(curr_row) * tcb_temp * angle)
  return gBhor0

print(get_gBhor0(29))

# sky diffused radiation on hor surface
def get_gDhor0(curr_row):
  tcd_temp = 1
  beta = 0
  #print (getZen(curr_row),math.cos(math.radians(getZen(curr_row)))) 
  gDhor0 = (get_gon(curr_row) * (math.cos(math.radians(getZen(curr_row)))) * get_td(curr_row) * tcd_temp * (1+math.cos(math.radians(beta))/2))
  return gDhor0
#print(get_gDhor0(54))

377.6392721542863

# **Calculate gBhor and gDhor**



>  loops that iterate through each row of the complete_data DataFrame and applies the get_gBhor0(i) and get_gDhor0(i) function to each row in the dataframe and populates those values in the 	Ghorb0	Ghord0	collumns. 


> The code was broken up into fragments of about 15,000 rows to avoid overloading the RAM



> At the end, we save this new dataset with its new values to a csv file stored in our google drive. 

> This concludes the data collection portion

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(0, 15351):
  complete_data.iloc[i,0] = get_gBhor0(i)

/usr/local/lib/python3.10/dist-packages/pysolar/solartime.py:111: UserWarning: I don't know about leap seconds after 2021
  warnings.warn \

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(15352, 30702):
  complete_data.iloc[i,0] = get_gBhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(30703,46053):
  complete_data.iloc[i,0] = get_gBhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(46054,61404):
  complete_data.iloc[i,0] = get_gBhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(61405,76404):
  complete_data.iloc[i,0] = get_gBhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(76405,88240):
  complete_data.iloc[i,0] = get_gBhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(0, 15351):
  complete_data.iloc[i,1] = get_gDhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(15352, 30702):
  complete_data.iloc[i,1] = get_gDhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(30703,46053):
  complete_data.iloc[i,1] = get_gDhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(46054,61404):
  complete_data.iloc[i,1] = get_gDhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(61405,72404):
  complete_data.iloc[i,1] = get_gDhor0(i)

In [ ]:
#### loop through all rows and apply get horizontal beam function to populate Ghorb0 column 
for i in range(72405,88240):
  complete_data.iloc[i,1] = get_gDhor0(i)

In [ ]:
from google.colab import files
complete_data.to_csv('6Finished.csv', encoding = 'utf-8-sig') 
files.download('6Finished.csv')